  <!-- Tab panes -->
  <div class="tab-content tab-content_second">
    <div role="tabpanel" class="tab-pane active" id="tabHistoryVehicles">
      <form name="form">
        
        <div class="btn-group datebuttons" style="display:block !important;">
         
          <button style="border-radius: 5px !important; width: 32%; margin-right: 8px !important;" data-format="dd-MM-yyyy hh:mm:ss" ng-click="todays('report')" type="button" class="btn btn-warning" translate="aside.nav.TODAY" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Today</button>
          
          
          <button style="border-radius: 5px !important; width: 32%; margin-right: 8px !important;" data-format="dd-MM-yyyy hh:mm:ss" ng-click="yesterday('report')" type="button" class="btn btn-danger" translate="aside.nav.YESTERDAY" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Yesterday</button>
          
          
          <button  style="border-radius: 5px !important; width: 32%;  " data-format="dd-MM-yyyy hh:mm:ss" ng-click="lastweek('report')" type="button" class="btn btn-info" translate="aside.nav.LASTWEEK" ><i class="fa fa-calendar-check-o" aria-hidden="true"  ></i> Last Week</button>
        </div>   
        <div class="col-md-12 paddingnone datepickersec">
          <div class="col-md-6 paddingnone">
            <div  id="datetimepicker3" class="input-group date" >
              <input class="form-control" data-format="dd-MM-yyyy hh:mm:ss" type="text" id="dateReportFrom" ng-model="report.from" >

              <span class="input-group-addon add-on" style="display:table-cell;">
                <i style="font-style:normal;" data-time-icon="entypo-clock" data-date-icon="entypo-calendar">
                </i>
              </span>
            </div>
          </div>

          <div class="col-md-6 paddingnone">
            <div  id="datetimepicker4" class="input-group date">
              <input class="form-control" data-format="dd-MM-yyyy hh:mm:ss" id="dateReportTo" type="text" ng-model="report.to">

              <span class="input-group-addon add-on" style="display:table-cell;">
                <i style="font-style:normal;" data-time-icon="entypo-clock" data-date-icon="entypo-calendar">
                </i>
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-12 nopadding">
          <div class="col-sm-7 nopadding"    >
            <select style="height:31px;width:100%;margin-bottom:7px;" ng-model="report.rID" ng-change="callGeozonePopUP(report.rID)">            
              <optgroup ng-repeat="groups in reportGroups" label="{{groups.report_group_name}}">
                <option ng-repeat="name in reportNames" value="{{name.report_id}}" ng-if="name.report_group_id==groups.report_group_id">{{name.report_name}}</option>              
              </optgroup>
            </select>
          </div>

          <div class="modal fade" id="GeoZoneForReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"  >
            <div class="modal-dialog" style="width:500px !important;"  role="document">
              <div class="modal-content" >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Select {{rptGeoType}} </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <br>
                <div style="max-height:150px;overflow-y: scroll;">
                  <div class="col-sm-12" ng-repeat="gzGroup in rptsGeoGroups">
                    <div class="col-sm-6" ng-repeat="geozone in gzGroup.geozone | filter : geozonesSearch" ng-if="rptGeoType=='Geozones'">
                      <div style="background-color: white; color:#000;cursor:pointer" class="bg-light lter b-b wrapper-md " ng-if="geozone.gz_type != 'salik'">
                        <input class="form-control " id="rpt_gz_{{geozone.gz_id}}" ng-true-value="{{geozone.gz_id}}" ng-false-value="0"  type="checkbox" ng-model="rpt_gz[geozone.gz_id]"  />
                        <label for="rpt_gz_{{geozone.gz_id}}"><span></span></label>{{geozone.gz_name | limitTo:15}}
                      </div>
                    </div>
                    
                    <div class="col-sm-6" ng-repeat="geozone in gzGroup.points | filter : geozonesSearch" ng-if="rptGeoType=='POIs'">
                      <div style="background-color: white; color:#000;cursor:pointer" class="bg-light lter b-b wrapper-md ">
                        <input class="form-control " id="rpt_gz_{{geozone.gz_id}}" ng-true-value="{{geozone.gz_id}}" ng-false-value="0"  type="checkbox" ng-model="rpt_gz[geozone.gz_id]"   />
                        <label for="rpt_gz_{{geozone.gz_id}}"><span></span></label>{{geozone.gz_name | limitTo:15}}
                      </div>
                    </div>
                  </div>
                </div>
                <div>&nbsp;</div>
                <div class="col-sm-12 nopadding">
                  <div class="input-group input-widget" style="left:18px;">
                    <input style="border-radius:15px;width:142%;" type="text" ng-model="geozonesSearch" placeholder="Search..." class="form-control searchbox">
                  </div>
                </div>
                <div class="modal-body " style="overflow:hidden">  
                  <button translate="aside.nav.CREATEREPORT" style="padding:5px;border-radius:0;width:100%;height:31px;margin-left:-3px !important;" data-format="dd-MM-yyyy hh:mm:ss" ng-click="createGZReport()" type="button" class="btn btn-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Create Report</button>                             
                </div>
                
              </div>
            </div>
          </div> 


          <div class="col-sm-5 nopadding">
            
            <button type="button" class="btn btn-gray nopadding" ng-click="reportsCreator()"  style="width: 20%; height:31px; border-radius:0px;">
              <i class="fa fa-refresh" style="color:#333;" aria-hidden="true"></i> 
            </button>
            <button translate="aside.nav.CREATEREPORT" style="padding:5px;border-radius:0;width:75%;height:31px;margin-left:-3px !important;" data-format="dd-MM-yyyy hh:mm:ss" ng-click="createReport()" type="button" class="btn btn-success"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Create Report</button>

          </div>

        </div>
      </form>
    </div>

    <div>
      <div class="tab_content_inner ReportsTab">                                        
        <div class="panel-group">
          <div class="panel panel-default" ng-repeat="group in allVehiclespositonsData" >
            <div class="panel-heading">
              <h4 class="panel-title">

<!--                 <div ng-show="group.vehicles.length>0" style="display: inline-block;width: 5%;margin-left:-8px;">
                  <input type="checkbox" id="reportCheckAll_{{group.id}}" ng-model="reportGroupId" ng-true-value="{{group.id}}" ng-false-value="0" ng-click="checkAllReportVehicles(reportGroupId,group.id)" ng-checked="selectedReportGroups.indexOf(group.id) !== -1"> 
                  <label for="reportCheckAll_{{group.id}}"><span></span></label> 
                </div> -->

                <a data-toggle="collapse" data-parent="#accordion" href="/#collapse{{group.id}}" style="display: inline-block;width: 95%;">
                  {{group.id==-1 ? organisationName :group.name}}
                  <span style="float:right;">{{group.vehicles.length}}</span> 
                </a>

              </h4>
            </div>
            <div id="collapse{{group.id}}" class="panel-collapse collapse in">
              <div class="panel-body">
                <table id="responsive-example-table " class="table large-only">
                  <tbody class="skin skin-flat">  
                    <tr class="list" ng-repeat="vehicle in group.vehicles | filter : ReportSearch" ng-class="reportDeviceIDs.indexOf(vehicle.id) !== -1 ? 'veh_selected' : '' " >
                      <td class="imgsat" width="6%">
                        <input  ng-model="vehID" ng-true-value="{{vehicle.id}}" ng-false-value="0" tabindex="13" type="checkbox" id="report_{{vehicle.id}}" ng-click="selectedVehicleforReport(vehicle.name,vehicle.uniqueId,vehicle.id,vehID,group.id)" ng-checked="reportDeviceIDs.indexOf(vehicle.id) !== -1">
                        <label for="report_{{vehicle.id}}"><span></span></label>
                      </td> 
                      <td ng-model="vehicleid"  style="width=100%;">
                        <a>
                          <b class="vehname">{{vehicle.name  | limitTo:30}}</b>
                          <div class="datetime"></div>
                        </a><br>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding bottom-search">

       <div class="col-sm-9 nopadding">
        <div class="input-group input-widget">
          <input style="border-radius:15px;width:150%;" type="text" ng-model="ReportSearch" placeholder="Search..." class="form-control searchbox">
        </div>
      </div>

      <div class="col-sm-3" style="padding-right:0"  >           


        <button type="button" class="btn btn-gray" ng-click="getGroups()" data-original-title="" title="" style="margin-top:-8px;width: 75%; height:31px; border-radius:5px">
          <i class="fa fa-refresh" style="color:#333;" aria-hidden="true"></i> 
        </button>
      </div>

    </div>




    




    


  </div>
</div>
<!-- <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->


<script type="text/javascript">
function makePDF()
{
  
 angular.element(document.getElementById('skin-select')).scope().createReport(1);
    //angular.element(document.getElementById('onlineCtrl')).scope().showCurrentTrack(1,1);
  }

  $('#datetimepicker3').datetimepicker({
    language: 'pt-BR'
  });

  $('#datetimepicker4').datetimepicker({
    language: 'pt-BR'
  });

  $('#dp1').datepicker()
  $('#dpYears').datepicker();
  $('#timepicker1').timepicker();
  $('#t1').clockface();
  $('#t2').clockface({
    format: 'HH:mm',
    trigger: 'manual'
  });

  $('#toggle-btn').click(function(e) {
    e.stopPropagation();
    $('#t2').clockface('toggle');
  });


  </script>

  <script type="text/javascript">

  var height = $(window).height();

  var ReportsTab_height = height-265;
  
  
  
  
  $(".ReportsTab").height(ReportsTab_height);
  $(".ReportsTab").css("overflow-y","scroll");

  



  </script>

