<div class="title-alt" style="height: 50px; border-radius: 4px 4px 0px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%;border-bottom: 1px dotted rgb(221, 221, 221); padding: 12px;">
  <h5 style="margin-top:-9px;"><b>{{objectname | limitTo:20}}</b></h5>
  <h6 style="font-size: 15px;">DOCUMENTS REMINDER</h6>  
  <button style="margin-top:-38px; width:69px; padding:8px;float:right;"  class="btn btn-success" ng-click="AddnewDocument()" >Add New</button>
</div>

<div class="body-nest" >
  <section id="flip-scroll">
    <div class="thisform">
      <form class="form-validation" name="form">
        <div class="panel panel-default">
          <div class="panel-body"  >                   
            <div class="form-group pull-in clearfix" >
              <div class="col-sm-4" style="padding-bottom: 1vw;">
                <label>Document Name</label>
                <input type="text" ng-model="documents.document_name" placeholder="Document Name" class="form-control" aria-required="true" aria-invalid="true" required="">
              </div>
              <div class="col-sm-2" style="padding-bottom: 1vw;">
                <label>Expiry Date </label>
                <div id="datetimepicker50" class="input-group date" style="width:113px;">
                  <input class="form-control" data-format="yyyy-MM-dd hh:mm:ss" id="dateDocument" ng-model="documents.document_expiry_date" type="text" style="height:31px !important;padding:4px;">
                  <span class="input-group-addon add-on" style="display:table-cell;">
                    <i style="font-style:normal;" data-time-icon="entypo-clock" data-date-icon="entypo-calendar"></i>
                  </span>
                </div>
              </div> 
              <div class="col-sm-2" style="padding-bottom: 1vw;">
                <label >Document Type</label>
                <select style="padding:1px !important;width:100px;" class="form-control" ng-model="documents.document_type" >
                  <option value="Mulkia">Mulkia</option>
                  <option value="Insurance">Insurance</option> 
                  <option value="DriverLicense">Driver License</option> 
                  

                </select>            
              </div>
           



              <div class="col-sm-4" style="padding-bottom: 1vw;">
                <label >Reminder</label>
                <select style="padding:1px !important;" class="form-control" ng-model="documents.document_remainder_interval" >
                  <option value="1">1 Day</option>
                  <option value="7">1 Week</option>
                  <option value="14">2 Weeks</option>
                  <option value="30">1 Month</option>
                </select>
              </div>
              <div class="col-sm-4" style="padding-bottom: 1vw;">
                <label>Comments</label>
                <input type="text" ng-model="documents.document_comments" placeholder="Comments" class="form-control ng-pristine ng-untouched ng-invalid " aria-required="true" aria-invalid="true">
              </div>
              <div class="col-sm-3" style="padding-bottom: 1vw;">
                <label>Attach File</label>
                <input type="file" id="file2" name="file"  ng-files="getTheFile($files)">
              </div>
              <div class="col-sm-2" style="padding-bottom: 0.5vw;margin-top:22px;" ng-show="documents.document_image">
                <a href="{{basePath}}/assets/document/{{documents.document_image}}" style="background: #65C3DF; padding:8px;border-radius:4px;text-decoration: none;color: #fff;" download>Download</a>
              </div>
              <div class="col-sm-3" style="padding-bottom: 1vw;">
                <button style="padding: 8px; width: 69px; margin-top: 12px;"  class="btn btn-danger" ng-click="deleteDocument(documents.document_id)" ng-show="deleteButton">Delete</button>
                <button style="padding:8px;width:86px;margin-top:12px;float:right;" type="submit" class="btn btn-success" ng-disabled='form.$invalid' ng-click="submitDocumentForm()">Submit</button>
              </div>
            </div>
          </div>
        </div> 
      </form>
    </div>
    
    <div style="padding-bottom: 100px;margin-bottom: 100px;" class="documentsTab">
      <div style="background:#354f74;padding:0px;border-radius:5px;color:white;"  ng-show="docData.length > 0">
        <table class="table table-bordered   cf" style="border:none !important;">
          <thead>
            <tr>
              <th style="border:none !important;width:5%;color:white;">sl</th>
              <th style="border:none !important;width:15%;color:white;">Document Name</th>
              <th style="border:none !important;width:15%;color:white;">Document Type</th>				
              <th style="border:none !important;width:15%;color:white;">Expiry Date </th>
              <th style="border:none !important;width:15%;color:white;">Reminder Interval</th>				
              <th style="border:none !important;width:15%;color:white;">Comments</th>
              <th style="border:none !important;width:15%;color:white;">Attachment</th> 
              <th style="border:none !important;width:5%;color:white;"></th>        
            </tr>
          </thead>
          <tbody style="background-color:#fffffd;">	
            <tr  ng-repeat="docs in docData">
              <td>{{$index+1}}</td>
              <td>{{docs.document_name | limitTo:15}}</td>
              <td> {{docs.document_type}}</td>		
              <td>{{docs.document_expiry_date | limitTo:10}} </td>
              <td ng-if="docs.document_remainder_interval==1">1 Day</td>
              <td ng-if="docs.document_remainder_interval==7">1 Week</td>
              <td ng-if="docs.document_remainder_interval==14">2 Week</td>
              <td ng-if="docs.document_remainder_interval==30">1 Month</td>
              <td>{{docs.document_comments}} </td>
              <td>
                <img style="width:63px;" ng-show="docs.document_extension == 'jpg' || docs.document_extension == 'jpeg' || docs.document_extension == 'gif' || docs.document_extension == 'png' || docs.document_extension == 'mpeg'" src="{{maintenanceImagePath}}document/{{docs.document_image}}">
                <img style="width:63px;" ng-show="docs.document_extension == 'pdf'" src="img/pdf_icon.png">
                <img style="width:63px;" ng-show="docs.document_extension == 'doc' || docs.document_extension == 'docx'" src="img/doc_icon.png">
                <img style="width:63px;" ng-show="docs.document_extension == 'csv'" src="img/csv_icon.png">
              </td>  
              <td>
                <button type="button" class="btn btn-info" ng-click="getSingleDocument(docs.document_id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </td>    		
            </tr>	
          </tbody>
        </table>
      </div>  

      <div style="margin: 10px 35px;"  ng-show="docData.length == 0">No reminder documents</div>
    </div>

    <!--<div style="margin-top:-50px;margin-bottom:150px !important; ">
      <div class="col-sm-6" >
        <div class="col-sm-6">
          <label>Period from</label>                   
          <div class="well" style="width:95%;padding:0;">
            <div id="datetimepicker888" class="input-group date">
              <input class="form-control" data-format="yyyy-MM-dd hh:mm:ss"  id="dateDocumentFrom" ng-model="maintenanceFrom" type="text" style="height:30px !important;padding:4px;">

              <span class="input-group-addon add-on" style="display:table-cell;">
                <i style="font-style:normal;" data-time-icon="entypo-clock" data-date-icon="entypo-calendar"></i>
              </span>
            </div>
          </div>
        </div> 

        <div class="col-sm-6" style="   " >
          <label>Period to</label>                   
          <div class="well" style="width:95%;padding:0;">
            <div id="datetimepicker999" class="input-group date">
              <input class="form-control" data-format="yyyy-MM-dd hh:mm:ss" id="dateDocumentTo" ng-model="maintenanceTo" type="text" style="height:30px !important;padding:4px;">

              <span class="input-group-addon add-on" style="display:table-cell;">
                <i style="font-style:normal;" data-time-icon="entypo-clock" data-date-icon="entypo-calendar"></i>
              </span>
            </div>
          </div>
        </div> 
      </div> 
      <button type="button" class="btn btn-info" class="ui button aligned center teal" id="crete_pdf" style="padding:5px;float:right;margin:2px;"  data-dismiss="modal">Download Pdf</button>
      <button type="submit" class="btn btn-info"   style="padding:5px;float:right;margin:2px;" ng-click="getDocumentBydate()">Search</button>
    </div>-->

  </section>
</div>


<script type="text/javascript">
$('#datetimepicker50').datetimepicker({
  language: 'pt-BR'

});
 
$('#datetimepicker888').datetimepicker({
  language: 'pt-BR'

});
$('#datetimepicker999').datetimepicker({
  language: 'pt-BR'

});

$('#dp1').datepicker()
$('#dpYears').datepicker();
$('#timepicker1').timepicker();
$('#t1').clockface();
$('#t2').clockface({
  format: 'HH:mm',
  trigger: 'manual'
});

$('#toggle-btn').click(function(e) {
  e.stopPropagation();
  $('#t2').clockface('toggle');
});
</script>

<script type="text/javascript">

 var height = $(window).height();
 var documentsTab_height = height-338;

$(".documentsTab").height(documentsTab_height);
$(".documentsTab").css("overflow-y","scroll");
 
</script>
